body {
    font-family: sans-serif;
    margin: 0;
    padding: 100px;
  }
header{
    display: flex;
    justify-content: space-between;
    padding: 3px 110px 3px 110px;
}
.section-1{
    padding-bottom: 200px;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    list-style: none;
}
.ecritur{
    padding-bottom: 100px;
}
#bleu{
    color:#364DAA;
    font-size: 50px;
}
#orange{
    color:#ff5f00;
    font-size: 50px;
}
.video-1{
    display: flex;
justify-content: space-between;
    gap: 20px;
    padding-bottom: 100px;
}
.video-2{
    display: flex;
justify-content: space-between;
    gap: 20px;
    padding-bottom: 50pxpx;
}
#ttd{
    font-size: 20px;
    font-family: bold;
}
.bloc{
    display: grid;
    place-content: center;
    gap:20px;
}

.bloc-1{
    display: flex;
    width: 100%;
    height: auto;
    gap:20px;
    position: relative;
}
.bloc-droit-1{
    padding: 10px;
    background: #FAFAFA;
    width: 628px;
    height: 402px;
   
}
.bloc-gauch-2{
    padding: 10px;
    background: #FAFAFA;
    width: auto;
    height: 402px;
} 
.bloc-2{
    display: flex;
    width: 100%;
    height: auto;
    gap:20px;
    position: relative;
}
.section-2{
    margin-bottom: 100px;
}
.bloc-gauch-3{
    padding: 10px;
    background: #FAFAFA;
    width: auto;
    height: 402px;
}
.bloc-droit-4{
    padding: 10px;
    background: #FAFAFA;
    width: 628px;
    height: 402px;
}
#para-left{
    position: absolute;
    bottom: -3%;
}
#imag-2{
    width: max-content;
}
#imag-1{
    width: 443px;
    height: 297px;
}

#para{
    position: absolute;
    bottom: -3%;
}
#para-0{
    position: absolute;
    bottom: 5%; 
}
.section-3{
    background: #FAFAFA;
}
.titl{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.secte-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:20px;
    margin: 0;
    padding: 100px;
    

}
.blok-1{
    position: relative;
    display: grid;
    place-content: center;
    gap:100px;
    width: 1000px;
    height: 600px;
}
.accordion-container {
    margin: 0px 0px 0px 150px;
    border-radius: 5px;
    width: 488px;
    height: 297px;
    left: 10%;
  }

  .accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 448px;

    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion p {
    margin: 0;
  }

  .accordion.active {
    background-color: #e9e9e9;
  }

  .panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-bottom: 1px solid #ddd;
  }
  .arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
  }

  .accordion.active .arrow {
    transform: rotate(180deg);
  }
.logo{
    display: flex;
    justify-content: space-between;
    gap: 0px;
}
.section-4{
    margin-bottom: 100px;
}
.logoo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 150px;
}
.section-5{
    position: relative;
}
.secte-5{
    width: 1280px;
    height: 371px;
    Top: 4637px;
}
.parag{
    position: absolute;   
    /* display: flex; */
    justify-content: center;
    align-items: center;
}